#----------------------------------
# Config files
#----------------------------------

#include app/config
!app/config/

#but ignore everything inside it
app/config/*

#except for these:
!app/config/main.ini
!app/config/routes.ini
!app/config/env.php

#----------------------------------
# Vendor files
#----------------------------------

#include vendor
!vendor/

#but ignore everything inside it
vendor/*

#except for these
#(list vendor files to include here):

#----------------------------------
# Misc. Files
#----------------------------------

tmp/
*.DS_Store

